<%- include('partials/header') %>
<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <h1 class="display-1"><%= status %></h1>
    <p class="lead"><%= error %></p>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>
<%- include('partials/footer') %>
